@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primaryColor: hsl(199, 100%, 33%);
    --secondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255)
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--bodyColor);
}

a {
    color: unset;
    text-decoration: none;
}

li {
    list-style: none;
}

.section {
    padding: 6.4rem 0 3.2rem;
}

.container {
    padding: 0 2.4rem 0 2.4rem
}

.icon {
    font-size: 3.2rem;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.btn {
    padding: 1rem 2.4rem;
    background: var(--gradientColor);
    border-radius: 4.8rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn a {
    color: var(--whiteColor);
    font-weight: 500;
}

.btn:hover {
    background: var(--secondaryColor);
}

img, video {
    width: 100%;
    height: auto;
}

input {
    font-size: 100%;
}

@media screen and (min-width: 1240px) {
    .container {
        width: 80% !important;
        margin: auto !important;
    }

    .section {
        padding: 9.6rem 0 6.4rem;
    }
}

@media screen and (min-width: 2560px) {
    body {
        zoom: 1.7;
    }
}

/*----------Navbar---------*/

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--whiteColorDeam);
    width: 100%;
    padding: 1.6rem;
    z-index: 1000;
    box-shadow: 0 .2rem .4rem rgba(2, 15, 29, .242);
}

.logo {
    color: var(--blackColor);
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 2.5rem;
}

.logo .icon {
    font-size: 2.5rem;
    color: var(--primaryColor);
    transform: translateY(5px);
}

@media screen and (max-width: 768px) {
    .navbar {
        position: absolute;
        background: var(--whiteColorDeam);
        height: max-content;
        width: 80%;
        border-radius: 1.6rem;
        top: -500rem;
        left: 50%;
        padding: 1.6rem;
        transform: translate(-50%);
        z-index: 2000;
        box-shadow: 0 .2rem .4rem rgba(2, 15, 29, .904);
        transition:  .5s ease-in-out;
    }

    .navLists {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: .8rem 0
    }

    .navItem {
        padding: .8rem 0;
    }

    .navLink {
        color: var(--textColor);
        font-size: 1.5rem;
        font-weight: 600;
    }

    .navLink:hover {
        color: var(--primaryColor);
    }

    .navLists .btn {
        margin: 1.6rem 0 0 0;
    }

    .btn a {
        font-weight: 600;
        color: var(--whiteColor);
    }

    .closeNavbar {
        position: absolute;
        top: 1.6rem;
        right: 2.4rem;
        color: var(--primaryColor);
    }

    .closeNavbar:hover {
        color: var(--secondaryColor)
    }

    .activeNavbar{
        top: 11rem
    }
}

.toggleNavbar .icon {
    font-size: 2.5rem;
    color: var(--primaryColor);
}

.toggleNavbar .icon:hover {
    color: var(--secondaryColor);
}

@media screen and (min-width: 769px) {
    .toggleNavbar,
    .closeNavbar {
        display: none;
    }

    .header {
        padding: 2.4rem 3.2rem;
    }

    .navbar .navLists {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .navItem .navLink {
        color: var(--textColor);
        padding: 0 .8rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .navItem .navLink:hover {
        color: var(--primaryColor);
    }

    .navLists .btn {
        margin: 0 0 0 1.6rem;
    }

    .navLists .btn a {
        color: var(--whiteColor);
        font-weight: 500;
    }
}

@media screen and (min-width: 960px) {
    .navLists .navItem {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 1240px) {
    .header {
        padding: 1.6rem 13rem;
    }
}

/*----------Home---------*/

.home {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.home .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(47, 106, 127);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
}

.home video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
}

.home .homeContent {
    width: 100%;
    height: max-content;
    padding: 12.8rem 2.4rem 4.8rem;
    display: flex;
    row-gap: 4.8rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    color: var(--whiteColor);
    z-index: 2;
}

.homeContent .textDiv {
    padding: 3.2rem 0;
}

.textDiv .smallText {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.textDiv .homeTitle {
    position: relative;
    font-size: 2.8rem;
}

.cardDiv {
    position: relative;
    padding: 3.2rem 1.6rem;
    background: var(--whiteColor);
    border-radius: 1rem;
    gap: 1.6rem;
}

.cardDiv label {
    display: block;
    color: var(--textColor);
    padding: 0 0 1rem 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.cardDiv .labelTotal {
    justify-content: space-between;
    align-items: center;
}

.labelTotal .total {
    color: var(--textColor);
    font-size: 1.8rem;
    padding: 0 0 1rem 0;
}

.cardDiv .input {
    height: 4rem;
    padding: 0 1.6rem;
    background: var(--inputColor);
    border-radius: 4.8rem;
}

.cardDiv input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
}

.cardDiv .icon {
    font-size: 1.8rem;
    color: var(--primaryColor);
    margin: 0 0 0 1rem
}

.cardDiv .input[type=range]{
    background: blue;
}

.cardDiv .searchOptions {
    position: absolute;
    background: var(--gradientColor);
    width: max-content;
    bottom: -1rem;
    column-gap: 1.5rem;
    padding: .5rem 1.6rem;
    border-radius: 4.8rem;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    cursor: pointer;
}

.cardDiv .searchOptions:hover {
    background: var(--primaryColor);
}

.cardDiv .searchOptions .icon {
    font-size: 1.8rem;
    color: var(--whiteColor);
}

.cardDiv .searchOptions span {
    font-size: 1.3rem;
}

.homeFooterIcons {
    width: 100%;
    justify-content: space-between;
}

.homeFooterIcons .icon {
    font-size: 2rem;
    margin: 0 .5rem;
    color: var(--whiteColor);
    font-weight: 600;
}

.homeFooterIcons .icon:hover {
    color: var(--primaryColor);
}

@media screen and (min-width: 500px) {
    .textDiv .smallText {
        font-size: 1.6rem;
    }

    .textDiv .homeTitle {
        position: relative;
        font-size: 3.5rem;
        width: max-content;
    }

    .textDiv .homeTitle::after {
        position: absolute;
        content: '';
        background: var(--secondaryColor);
        height: .5rem;
        width: 16.5rem;
        right: 0;
        bottom: .4rem;
        z-index: -1;
    }

    .cardDiv {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 660px) {
    .cardDiv {
        padding: 3.2rem 1.6rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 940px) {
    .home {
        height: 85vh;
    }
}

@media screen and (min-width: 1240px) {
    .home {
        height: 95vh;
    }

    .home .homeContent {
        padding: 12.8rem 0 4.8rem 0;
    }

    .homeContent .cardDiv {
        padding: 3.2rem 1.6rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .cardDiv .input {
        margin-bottom: 1.6rem;
    }

    .cardDiv .searchOptions {
        bottom: -1.6rem;
        padding: .8rem 1.6rem
    }

    .searchOptions span {
        font-size: 1.7rem;
    }
}

/*----------Main---------*/

.main {
    width: 100%;
}

.secTitle .title {
    position: relative;
    width: max-content;
    color: var(--textColor);
    margin: 1.6rem 0;
    z-index: 2;
    font-size: 2.2rem;
}

.secTitle .title::after {
    position: absolute;
    content: '';
    background: var(--secondaryColor);
    height: .4rem;
    width: 12.3rem;
    right: 0;
    bottom: .1rem;
    z-index: -1;
}

.main .secContent {
    justify-content: center;
    gap: 2.4rem;
}

.secContent .singleDestination {
    height: 100%;
    display: grid;
    row-gap: 1rem;
    border-radius: 1rem;
    align-items: center;
    background: var(--cardBG);
    box-shadow: 0 .2rem .4rem rgba(140, 140, 141, .549);
    overflow: hidden;
    padding: 1.6rem;
}

.secContent .singleDestination:hover {
    background: var(--cardHover);
    box-shadow: 1 .4rem .4rem rgba(85, 85, 114, .549);
    transition: .3s ease;
}

.singleDestination .imageDiv {
    height: 18rem;
    width: 100%;
    overflow: hidden;
}

.imageDiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 2s ease;
}

.imageDiv:hover > img {
    transform: scale(1.1);
}

.singleDestination .cardInfo {
    padding: 1.6rem;
}

.cardInfo .destTitle {
    color: var(--blackColor);
    font-size: 2rem;
}

.cardInfo .continent {
    gap: .8rem;
}

.continent .icon {
    color: var(--textColor);
    font-size: 1.8rem;
}

.continent .name {
    color: var(--textColor);
    font-weight: 400;
    font-size: 1.4rem;
}

.cardInfo .fees {
    width: 100%;
    justify-content: space-between;
    padding: 1.6rem;
    margin: 1.6rem 0;
    border-top: .2rem solid var(--greyText);
    border-bottom: .2rem solid var(--greyText);
}

.fees .grade {
    color: var(--textColor);
    max-width: 10rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grade small {
    text-align: center;
    background: var(--gradientColor);
    border-radius: 1.6rem;
    color: var(--whiteColor);
    padding: .1rem 1rem;
    font-size: 1rem;
}

.fees .price {
    font-size: 2rem;
    color: var(--blackColor);
}

.cardInfo .desc {
    font-size: 1.4rem;
    color: var(--textColor);
    font-weight: 500;
}

.cardInfo .btn {
    margin: 1.6rem 0 0 0;
    color: var(--whiteColor);
    font-weight: 600;
    justify-content: space-between;
    gap: .8rem;
}

.btn .icon {
    align-self: center;
    font-size: 1.8rem;
}

@media screen and (min-width: 500px) {
    .title {
        font-size: 2.4rem;
    }

    .title::after {
        width: 15.5rem;
    }

    .secContent {
        grid-template-columns: repeat(2, 1fr);
    }

    .secContent .singleDestination {
        height: auto;
    }
}

@media screen and (min-width: 840px) {
    .secContent {
        grid-template-columns: repeat(3, 1fr);
    }

    .secContent .singleDestination {
        height: auto;
    }
}

/*----------Footer---------*/

.footer {
    width: 100%;
    position: relative;
    padding: 3.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.footer .videoDiv {
    position: absolute;
    height: 100%;
    width: 100%;
}

.videoDiv video {
    height: 100%;
    object-fit: cover;
}

.videoDiv::after {
    content: '';
    position: absolute;
    background: rgba(10, 84, 107, .307);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: multiply;
}

.footer .secContent {
    width: 100%;
    height: max-content;
    padding: 3.2rem initial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    row-gap: 3.2rem;
    z-index: 100;
}

.secContent .contactDiv {
    justify-content: space-between;
    flex-direction: column;
    gap: 1.6rem;
}

.text small{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--whiteColor);
}

.text h2{
    color: var(--whiteColor);
    font-size: 3rem;
}

.contactDiv .inputDiv {
    width: 100%;
    gap: 1.6rem;
    flex-direction: column;
}

.inputDiv input {
    width: 100%;
    padding: .8rem 1rem;
    border-radius: 4.8rem;
    border: .1rem solid var(--whiteColor);
    outline: none;
    background: transparent;
    color: var(--whiteColor);
    font-size: 1.6rem;
}

.inputDiv input::placeholder {
    color: var(--whiteColor);
    opacity: .8;
}

.inputDiv .btn {
    width: 100%;
    justify-content: center;
    color: var(--whiteColor);
    font-weight: 500;
    gap: .8rem;
    font-size: 1.6rem;
}

.inputDiv .btn .icon {
    font-size: 1.6rem;
}

.footerCard {
    position: relative;
    padding: 1.6rem 1.6rem 6.4rem;
    gap: 3.2rem;
    border-radius: 1.6rem;
    background: var(--bodyColor);
    width: 100%;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.footerIntro {
    flex-basis: 50%;
    justify-content: center;
    flex-direction: column;
    row-gap: .8rem;
}

.footerCard .logoDiv .logo {
    color: var(--blackColor);
    font-weight: 600;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
}

.footerCard .logoDiv .logo .icon {
    font-size: 2.5rem;
    color: var(--primaryColor);
    margin: 0 1rem 0 0;
    transform: translateY(-.1rem);
}

.footerCard .footerParagraph {
    font-size: 1.3rem;
    color: var(--textColor);
}

.footerCard .footerSocials {
    display: flex;
    gap: .8rem;
}

.footerCard .footerSocials .icon {
    color: var(--blackColor);
    font-size: 2rem;
}

.footerCard .footerSocials .icon:hover {
    color: var(--primaryColor);
}

.footerCard .footerLinks {
    flex-basis: 50%;
    width: 100%;
    gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.linkGroup .groupTitle {
    display: block;
    font-weight: 600;
    color: var(--blackColor);
    margin: 0 0 .8rem 0;
    font-size: 1.6rem;
}

.linkGroup .footerList {
    font-size: 1.5rem;
    color: var(--textColor);
    transition: .3s ease-in-out;
}

.footerList .icon {
    font-size: 1.5rem;
    color: var(--greyText);
}

.footerList:hover {
    color: var(--primaryColor);
    transform: translateX(.7rem);
}

.footerList:hover > .icon {
    color: var(--secondaryColor);
}

.footerDiv {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--secondaryColor);
    padding: .8rem 3.2rem;
}

.footerDiv p {
    font-size: 1rem;
    color: var(--whiteColor);
}

@media screen and (min-width: 500px) {
    .footerCard .footerLinks {
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 1.6rem;
    }

    .footerDiv p {
        font-size: 1.4rem;
        color: var(--whiteColor);
    }
}

@media screen and (min-width: 660px) {
    .secContent .contactDiv {
        flex-direction: row;
        justify-content: space-between;
    }

    .contactDiv .inputDiv {
        width: max-content;
        flex-direction: row;
        justify-content: flex-start;
    }

    .inputDiv input {
        width: 60%;
    }

    .inputDiv .btn {
        width: max-content;
    }
}

@media screen and (min-width: 840px) {
    .footer {
        padding: 8rem 0;
    }

    .secContent .footerCard {
        flex-direction: row;
    }

    .footerCard .footerLinks {
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 1.6rem;
    } 
}

@media screen and (min-width: 1024px) {
    .secContent .footerCard {
        padding: 4.8rem 1.6rem;
    }

    .footerIntro .footerParagraph {
        font-size: 1.5rem;
        color: var(--textColor);
    }

    .footerIntro .footerSocials {
        column-gap: .8rem;
    }

    .footerSocials .icon {
        color: var(--textColor);
        font-size: 2.5rem;
    }

    .footerSocials .icon:hover {
        color: var(--primaryColor);
    }

    .linkGroup .footerList {
        font-size: 1.6rem;
        padding: .5rem 0;
    }
}

